html,
body {
  box-sizing: border-box;
  padding: auto;
  height: 100vh;
  margin: auto;
  width: 100vw;
}
.container {
  flex-direction: row;
  overflow: scroll;
  display: flex;
  height: 100%;
  width: 100%;
}
.element {
  border-left: 10px dotted #d0d0ff;
  background-color: #eeeff2;
  flex-shrink: 0;
  padding: 10px;
  height: 130px;
  margin: 5px;
  width: 80px;
}
.element:hover {
  background-color: yellow;
  color: goldenrod;
  cursor: pointer;
}
.lastElement {
  position: fixed;
  bottom: 15px;
  right: 15px;
  margin: 5px;
}
