html,
body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
}
.element {
  white-space: nowrap;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 100px;
  height: 150px;
  background-color: #eeeff2;
  border-left: 10px dotted #d0d0ff;
}
.element :hover {
  background-color: yellow;
  cursor: pointer;
}
